@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(61, 61, 61);
    box-shadow: 0 0 1rem black;
}

div.Logo > a > img {
    width: 50px;
    margin: 10px;   
}

ul {
    display: flex;
    margin: 30px;
}

li {
    color: white;
    list-style-type: none;
    padding-left: 3rem;
}

div.login > a {
    display: flex;
    color: white;
    margin: 20px;
}


div.login > a > img {
    width: 30px;
}

a {
    text-decoration: none;
}


