@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
}

div.Logo > a > img {
    width: 50px;
    margin: 15px 0px 15px 15px;   
}

ul {
    display: flex;
    margin-top: 30px;
    
}

li {
    color: white;
    list-style-type: none;
    padding-left: 3vw;
    font-size: large;
    transition: 1s;
}

li:hover {
    color: #00ff2f;
}

.search-box {   
    margin: 10px;
    background: #28332a;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #28332a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.search-box:hover > .search-txt {
    width: 15vw;
    padding: 6 6px;
}

.search-box:hover > .search-btn {
    background: white;
}

div.login > a {
    display: flex;
    color: white;
    margin: 20px 30px 0px 0px;
    position: static;

}


div.login > a > img {
    width: 35px;
}

a {
    text-decoration: none;
}

i {
    color: white;
}

nav > img {
    width: 100vw;
}

